@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }


*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 1 – Изменим стили шрифтов */
/* 2 – Удалим margin в Firefox и Safari */
input[type="text"] {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
  }

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    gap: 40px;
    width: 100%;

}
html {
    position: relative;
    min-height: 100%;
  }
.text {
    /* Frame 1 */
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 15px;
    /* identical to box height */


    color: #000000;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 128px;
    height: 15px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.text #name {
    font-weight: 700;
}

.text #trait {
    font-weight: 700;
}

#photo {
    width: 40px;
    height: 40px;

    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

body {
    width: 90%;
    margin: auto;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    gap:76px;*/
    height: 100vh;
    min-height: 100vh;
    position: relative;
    font-family: "San Francisco";/*"Helvetica Neue", sans-serif;*/
    padding-bottom: 20px;
    padding-top: 20px;

}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="text"] {
    display: block;
  /*width: 50%;*/
  height: calc(5rem);

  font-family: inherit;
  font-size: 5rem;
  font-weight: 400;
  line-height: 4.5;
  text-align: center;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  outline:none;
  border: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   /* -moz-appearance: textfield;
    border-radius: 20px;
    border: 0px solid #ccc;
    width: 30%;
    font-family: 'Jua';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: right;*/
}

.ton_text {
    font-family: 'Jua';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    text-align: bottom;
    color: #919191;
}

.amount {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;


}

.body {
    padding: 40px 0px 100px 0px;
}

.amountUAH {
    font-style: normal;
    padding-left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    color: #919191;
    margin-top: 10px;
}

button {
    
    background-color: #63abef;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 40px;
}

button:hover {
    background-color: #546285;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* padding: 0px 40px 0px 40px;*/
    width: 100%;
    gap:10px;
    position: absolute;
    bottom: 20px; left: 0;

}
.wallet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    padding: 0px;
    width: 100%;

}
.wallet-balance{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
}
.max-btn{
    width:20%;
}
.textBalance{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #919191;
}
#label{
    width: 38px;
    height: 38px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background: var(--moda-bgd-dark);
    z-index: 5;
}

.modal-active {
    pointer-events: all;
    opacity: 1;
}
.body-scroll-disable {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #63abef;
    background-color: #fff;
    height: 100vh;
    font-family: "Helvetica Neue", sans-serif;
  }

  /* New styles */
  .centered-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 50px;
  }